@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;

  --background: #f5f1ea;
  --surface: #ebe4d8;

  --primary: #1f3558;
  --secondary: #8b3e3e;

  --text-primary: #1a1a1a;
  --text-secondary: #5f5f5f;

  --border: #d8d0c3;

  --radius: 18px;

  color: var(--text-primary);
  background: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--background);
  color: var(--text-primary);

  overflow: hidden;
overscroll-behavior: none;
}

button,
input,
textarea {
  font: inherit;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}